@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

// Defined variables.
$themePrimary: '[theme:neutralLight, default: #fefefe]';
$themeSecondary: '[theme:themeSecondary, default: #2b88d8]';
$themeWhite: '[theme:white, default:white]';

.filterWrapper {

  .filterRow {
    @include ms-Grid-row;
    background-color: $themeSecondary;
  }

  .filterColumn {
    @include ms-Grid-col;
    @include ms-sm12;
    @include ms-md6;
    @include ms-lg3;
    padding-top: 3px;
    padding-bottom: 5px;
  }
}
