@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.peopleSearch {

  .grid {
    @include ms-Grid;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }
  
}
